<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form.css') }}">
   </head>
<body>
  <nav>
    <div class="navbar">
      <i class='bx bx-menu'></i>
      <div class="logo"><a href="#">Machine Learning</a></div>
      <div class="nav-links">
        <div class="sidebar-logo">
          <span class="logo-name">Machine Learning</span>
          <i class='bx bx-x' ></i>
        </div>
        <ul class="links">
          <li><a href="/index">Home</a></li>
          <li><a href="/audio">Real Time</a></li>
          <li>
            <a href="#">Data Analysis</a>
            <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
            <ul class="htmlCss-sub-menu sub-menu">
              <li><a href="/DataAnalysis/Geral">Geral</a></li>
              <li><a href="/DataAnalysis/Distribution">Distribution</a></li>
            </ul>
          </li>
          <li>
            <a href="#">All Dataset</a>
            <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
            <ul class="htmlCss-sub-menu sub-menu">
              <li><a href="/AllDataset/AllDatasetNormalized">All Dataset Normalized</a></li>
              <li><a href="/AllDataset/AllDatasetNormalizedCorrelated">All Dataset Normalized and Correlated</a></li>
              <li><a href="/AllDataset/AllDatasetPCA">All Dataset with Pca</a></li>
            </ul>
          </li>
          <li>
            <a href="#">All Dataset with Smote</a>
            <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
            <ul class="htmlCss-sub-menu sub-menu">
              <li><a href="/AllDataset/AllDatasetSmoteNormalized">All Dataset with Smote Normalized</a></li>
              <li><a href="/AllDataset/AllDatasetSmoteNormalizedCorrelated">All Dataset with Smote Normalized and Correlated</a></li>
            </ul>
          </li>
          <li>
            <a href="#">XGBoost Feature selection</a>
            <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
            <ul class="htmlCss-sub-menu sub-menu">
              <li><a href="/AllDataset/AllDatasetXGBoost">XGBoost Feature Selection</a></li>
            </ul>
          </li>
          <li><a href="/Contacts">Contact Us</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <form id="contactForm">
    <label for="name">Name</label>
    <input type="text" name="Name" required>
   
    <label for="email">Email</label>
    <input type="email" name="Email" required>
   
    <label for="message">Message</label>
    <textarea name="Message" required></textarea>
   
    <input type="submit" value="Go!" id="contactGo">
  </form>

  <footer>
    <p>&copy; 2024 Machine Learning. All rights reserved.</p>
  </footer>
</body>
</html>
 