<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <nav>
    <div class="navbar">
      <i class='bx bx-menu'></i>
      <div class="logo"><a href="#">Machine Learning</a></div>
      <div class="nav-links">
        <div class="sidebar-logo">
          <span class="logo-name">Machine Learning</span>
          <i class='bx bx-x' ></i>
        </div>
        <ul class="links">
          <li><a href="/index">Home</a></li>
          <li>
            <a href="#">Data Analysis</a>
            <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
            <ul class="htmlCss-sub-menu sub-menu">
              <li><a href="/DataAnalysis/Geral">Geral</a></li>
              <li><a href="/DataAnalysis/Distribution">Distribution</a></li>
            </ul>
          </li>
          <li>
            <a href="#">All Dataset</a>
            <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
            <ul class="htmlCss-sub-menu sub-menu">
              <li><a href="/AllDataset/AllDatasetNormalized">All Dataset Normalized</a></li>
              <li><a href="/AllDataset/AllDatasetNormalizedCorrelated">All Dataset Normalized and Correlated</a></li>
              <li><a href="/AllDataset/AllDatasetPCA">All Dataset with Pca</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Pass or Fail</a>
            <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
            <ul class="htmlCss-sub-menu sub-menu">
              <li><a href="/PassOrFail/Maths">Mathematics</a></li>
              <li><a href="/PassOrFail/Portuguese">Portuguese</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Five Level Classification</a>
            <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
            <ul class="htmlCss-sub-menu sub-menu">
              <li><a href="/FiveLevel/Maths">Mathematics</a></li>
              <li><a href="/FiveLevel/Portuguese">Portuguese</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Grade Prediction</a>
            <i class='bx bxs-chevron-down js-arrow arrow '></i>
            <ul class="js-sub-menu sub-menu">
                <li><a href="/GradePrediction/Maths">Mathematics</a></li>
                <li><a href="/GradePrediction/Portuguese">Portuguese</a></li>
            </ul>
          </li>
          <li><a href="/Contacts">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <h1>Data Analysis Parkinson Disease Dataset</h1>
  <img src="/static/images/checkNulls.png">
  <img src="/static/images/datasetInfo.png">

</body>
</html>
