<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registro</title>
    <link href="../css/form.css" rel="stylesheet"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form.css') }}">
  </head>
  <body>
    <nav>
      <div class="navbar">
        <i class='bx bx-menu'></i>
        <div class="logo"><a href="#">Machine Learning</a></div>
        <div class="nav-links">
          <div class="sidebar-logo">
            <span class="logo-name">Machine Learning</span>
            <i class='bx bx-x' ></i>
          </div>
          <ul class="links">
            <li><a href="/">Home</a></li>
            <li>
              <a href="#">Data Analysis</a>
              <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
              <ul class="htmlCss-sub-menu sub-menu">
                <li><a href="/DataAnalysis/Maths">Mathematics</a></li>
                <li><a href="/DataAnalysis/Portuguese">Portuguese</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Pass or Fail</a>
              <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
              <ul class="htmlCss-sub-menu sub-menu">
                <li><a href="/PassOrFail/Maths">Mathematics</a></li>
                <li><a href="/PassOrFail/Portuguese">Portuguese</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Five Level Classification</a>
              <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
              <ul class="htmlCss-sub-menu sub-menu">
                <li><a href="/FiveLevel/Maths">Mathematics</a></li>
                <li><a href="/FiveLevel/Portuguese">Portuguese</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Grade Prediction</a>
              <i class='bx bxs-chevron-down js-arrow arrow '></i>
              <ul class="js-sub-menu sub-menu">
                  <li><a href="/GradePrediction/Maths">Mathematics</a></li>
                  <li><a href="/GradePrediction/Portuguese">Portuguese</a></li>
              </ul>
            </li>
            <li><a href="/Contacts">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <form method="post">
      <label for="school">Sex: </label>
      <select name="school" id="school">
        <option value="GP">Gabriel Pereira</option>
        <option value="MS">Mousinho da Silveira </option>
      </select>
      <label for="sex">Sex: </label>
      <select name="sex" id="sex">
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
      <label for="age">Age: </label>
      <select name="age" id="age">
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
      </select>
      <label for="address">Address: </label>
      <select name="address" id="address">
        <option value="U">Urban</option>
        <option value="R">Rural</option>
      </select>
      <label for="famsize">Family Size: </label>
      <select name="famsize" id="famsize">
        <option value="LE3">less or equal to 3</option>
        <option value="GT3">greater than 3</option>
      </select>
      <label for="Pstatus">Parent's status: </label>
      <select name="Pstatus" id="Pstatus">
        <option value="T">Living together</option>
        <option value="A">Apart</option>
      </select>
      <label for="Medu">Mother's Education: </label>
      <select name="Medu" id="Medu">
        <option value="0">None</option>
        <option value="1">Primary education (4th grade)</option>
        <option value="2">5th to 9th grade</option>
        <option value="3">Secondary Education</option>
        <option value="4">Higher education</option>
      </select>
      <label for="Fedu">Father's Education: </label>
      <select name="Fedu" id="Fedu">
        <option value="0">None</option>
        <option value="1">Primary education (4th grade)</option>
        <option value="2">5th to 9th grade</option>
        <option value="3">Secondary Education</option>
        <option value="4">Higher education</option>
      </select>
      <label for="Mjob">Mother's job: </label>
      <select name="Mjob" id="Mjob">
        <option value="teacher">Techaer</option>
        <option value="health">Healthcare related</option>
        <option value="services">Administrative or Police</option>
        <option value="at_home">Home</option>
        <option value="other">Other</option>
      </select>
      <label for="Fjob">Father's job: </label>
      <select name="Fjob" id="Fjob">
        <option value="teacher">Techaer</option>
        <option value="health">Healthcare related</option>
        <option value="services">Administrative or Police</option>
        <option value="at_home">Home</option>
        <option value="other">Other</option>
      </select>
      <label for="reason">Reason to choose this school: </label>
      <select name="reason" id="reason">
        <option value="home">Home</option>
        <option value="reputation">School reputation</option>
        <option value="course">Course preference</option>
        <option value="other">Other</option>
      </select>
      <label for="guardian">Student's guardian: </label>
      <select name="guardian" id="guardian">
        <option value="mother">Mother</option>
        <option value="father">Father</option>
        <option value="other">Other</option>
      </select>
      <label for="traveltime">Home to school travel time:</label>
      <select name="traveltime" id="traveltime">
        <option value="1">Less then 15 minutes</option>
        <option value="2">15 to 30 minutes</option>
        <option value="3">30 minutes</option>
        <option value="4">More then 1 hour</option>
      </select>
      <label for="studytime">Home to school travel time:</label>
      <select name="studytime" id="studytime">
        <option value="1">Less then 2 hours</option>
        <option value="2">2 to 5 hours</option>
        <option value="3">5 to 10 hours</option>
        <option value="4">More then 10 hours</option>
      </select>
      <label for="failures">Number of past class failures:</label>
      <select name="failures" id="failures">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
      <label for="schoolsup">Extra educational support:</label>
      <select name="schoolsup" id="schoolsup">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
      <label for="famsup">Family educational support:</label>
      <select name="famsup" id="famsup">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
      <label for="paid">Extra paid classes within the course subject (Math or Portuguese):</label>
      <select name="paid" id="paid">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
      <label for="activities">Extra-curricular activities:</label>
      <select name="activities" id="activities">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
      <label for="nursery">Attended nursery school:</label>
      <select name="nursery" id="nursery">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
      <label for="higher">Wants to take higher education:</label>
      <select name="higher" id="higher">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
      <label for="internet">Internet access at home:</label>
      <select name="internet" id="internet">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
      <label for="romantic">With a romantic relationship:</label>
      <select name="romantic" id="romantic">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
      <label for="famrel">Quality of family Relationship:</label>
      <select name="famrel" id="famrel">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <label for="freetime">Free time after school:</label>
      <select name="freetime" id="freetime">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <label for="goout">Going out with friends:</label>
      <select name="goout" id="goout">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <label for="Dalc">Workday alcohol consumption:</label>
      <select name="Dalc" id="Dalc">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <label for="Walc">Weekend alcohol consumption:</label>
      <select name="Walc" id="Walc">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <label for="health">Current health status:</label>
      <select name="health" id="health">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <label for="absences">Number of school absences:</label>
      <input type="number" id="absences" name="absences" min="0" max="85" value = 0><br><br>
      <label for="G1">First Period grade:</label>
      <select name="G1" id="G1">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
      </select>
      <label for="G2">Second Period grade:</label>
      <select name="G2" id="G2">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
      </select>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>




