<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
    <nav>
      <div class="navbar">
        <i class='bx bx-menu'></i>
        <div class="logo"><a href="#">ML</a></div>
        <div class="nav-links">
          <div class="sidebar-logo">
            <span class="logo-name">ML</span>
            <i class='bx bx-x' ></i>
          </div>
          <ul class="links">
            <li><a href="/index">Home</a></li>
            <li><a href="/audio">Real Time</a></li>
            <li>
              <a href="#">Data Analysis</a>
              <i class='bx bxs-chevron-down htmlcss-arrow arrow'></i>
              <ul class="htmlCss-sub-menu sub-menu">
                <li><a href="/DataAnalysis/Geral">Geral</a></li>
                <li><a href="/DataAnalysis/Distribution">Distribution</a></li>
              </ul>
            </li>
            <li>
              <a href="#">All Dataset</a>
              <i class='bx bxs-chevron-down htmlcss-arrow arrow'></i>
              <ul class="htmlCss-sub-menu sub-menu">
                <li><a href="/AllDataset/AllDatasetNormalized">All Dataset Normalized</a></li>
                <li><a href="/AllDataset/AllDatasetNormalizedCorrelated">All Dataset Norm. and Corr.</a></li>
                <li><a href="/AllDataset/AllDatasetPCA">All Dataset with PCA</a></li>
              </ul>
            </li>
            <li>
              <a href="#">All Dataset with Smote</a>
              <i class='bx bxs-chevron-down htmlcss-arrow arrow'></i>
              <ul class="htmlCss-sub-menu sub-menu">
                <li><a href="/AllDataset/AllDatasetSmoteNormalized">All Dataset Smote Norm.</a></li>
                <li><a href="/AllDataset/AllDatasetSmoteNormalizedCorrelated">All Dataset Smote Norm. and Corr.</a></li>
              </ul>
            </li>
            <li>
              <a href="#">XGBoost Feature selection</a>
              <i class='bx bxs-chevron-down htmlcss-arrow arrow'></i>
              <ul class="htmlCss-sub-menu sub-menu">
                <li><a href="/AllDataset/AllDatasetXGBoost">XGBoost Feature Selection</a></li>
              </ul>
            </li>
            <li><a href="/Contacts">Contact Us</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <h1>Parkinson Disease</h1>
    <p>Parkinson's disease is a progressive disorder that affects the nervous system and the body. Symptoms start slowly. The first symptom may be a tremor in just one hand. Tremors are common, but the disorder may also cause stiffness or slowing of movement.</p>
    <p>Explore more by clicking the links below.</p>
    <ul class="Linksinside">
      <li class="Linksinside"><a href="/audio">Real Time</a></li>
      <li class="Linksinside"><a href="/DataAnalysis/Geral">Geral Data Analysis</a></li>
      <li class="Linksinside"><a href="/DataAnalysis/Distribution">Distribution Data Analysis</a></li>
      <li class="Linksinside"><a href="/AllDataset/AllDatasetNormalized">All Dataset Normalized</a></li>
      <li class="Linksinside"><a href="/AllDataset/AllDatasetNormalizedCorrelated">All Dataset Norm. and Corr.</a></li>
      <li class="Linksinside"><a href="/AllDataset/AllDatasetPCA">All Dataset with PCA</a></li>
      <li class="Linksinside"><a href="/AllDataset/AllDatasetSmoteNormalized">All Dataset Smote Norm.</a></li>
      <li class="Linksinside"><a href="/AllDataset/AllDatasetSmoteNormalizedCorrelated">All Dataset Smote Norm. and Corr.</a></li>
      <li class="Linksinside"><a href="/AllDataset/AllDatasetXGBoost">All Dataset XGBoost</a></li>
      <li class="Linksinside"><a href="/Contacts">Contact Us</a></li>
    </ul>
  
    <footer>
      <p>&copy; 2024 Machine Learning. All rights reserved.</p>
    </footer>
  </body>
</html>
