<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>User Registration and Login</title>
    <meta charset="UTF-8">
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    <h1>User Registration</h1>
    <form id="registerForm">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Register</button>
    </form>

    <hr>

    <h1>User Login</h1>
    <form id="loginForm">
        <label for="loginUsername">Username:</label><br>
        <input type="text" id="loginUsername" name="username" required><br>
        <label for="loginPassword">Password:</label><br>
        <input type="password" id="loginPassword" name="password" required><br><br>
        <button type="submit">Login</button>
    </form>

    <script>
        document.getElementById('registerForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            fetch('/register', {
                method: 'POST',
                body: JSON.stringify(Object.fromEntries(formData)),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => alert(data.message))
            .catch(error => console.error('Error:', error));
        });
    
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            fetch('/login', {
                method: 'POST',
                body: JSON.stringify(Object.fromEntries(formData)),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Redirect to the index page after successful login
                    window.location.href = '/index';
                } else {
                    alert(data.message);
                }
            })
            .catch(error => console.error('Error:', error));
        });

    </script>
    
</body>
</html>
