<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>User Registration and Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/loginregister.css') }}">
</head>
<body>
    <div class="main">
        <h1 class="sign">User Registration</h1>
        <form id="registerForm" class="form1">
            <input type="text" id="username" name="username" placeholder="Username" required class="un"><br>
            <input type="email" id="email" name="email" placeholder="Email" required class="un"><br>
            <input type="password" id="password" name="password" placeholder="Password" required class="pass"><br>
            <button type="submit" class="submit">Register</button>
        </form>

        <hr>

        <h1 class="sign">User Login</h1>
        <form id="loginForm" class="form1">
            <input type="text" id="loginUsername" name="username" placeholder="Username" required class="un"><br>
            <input type="password" id="loginPassword" name="password" placeholder="Password" required class="pass"><br>
            <button type="submit" class="submit">Login</button>
        </form>
    </div>

    <script>
        document.getElementById('registerForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            fetch('/register', {
                method: 'POST',
                body: JSON.stringify(Object.fromEntries(formData)),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => alert(data.message))
            .catch(error => console.error('Error:', error));
        });
    
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            fetch('/login', {
                method: 'POST',
                body: JSON.stringify(Object.fromEntries(formData)),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Redirect to the index page after successful login
                    window.location.href = '/index';
                } else {
                    alert(data.message);
                }
            })
            .catch(error => console.error('Error:', error));
        });

    </script>
</html>
